---

# Purpose: Install and configure Plex Media Server on plex hosts

- name: Install and configure Plex Media Server
  hosts: plex
  become: true
  roles:
    - global
    - ad
    - autofs
    - python3
    - users
    - ansible_node
    - plex_setup
