---

global_proxmox_api_host: 192.168.2.200
global_proxmox_api_port: 8006

global_os:
    ubuntu_24_server:
        distro: ubuntu
        type: server
        release_download_url: "https://releases.ubuntu.com/noble"
        iso: ubuntu-24.04.1-live-server-amd64.iso
        cloudinit_download_url: https://cloud-images.ubuntu.com/noble/current
        cloudinit_img: noble-server-cloudimg-amd64.img
        tarball: ubuntu-24.04.1-netboot-amd64.tar.gz
        template: ubuntu-server-24.04-cloudinit
        version: 24.4
    win_2022_server:
        distro: windows
        type: server
        iso: en-us_windows_server_2022_updated_aug_2024_x64_dvd_17b2bb17.iso
        template:
        version: 2022
    win_11_business:
        distro: windows
        type: server
        iso: en-us_windows_11_business-editions_version_23h2_updated_aug_2024_x64_dvd_4b6aa6b4.iso
        template: win11-business-template
        version: 11

global_domain_name: "refol.us"
global_dns_servers:
    - 192.168.2.253
    - 192.168.2.251
    - 8.8.8.8
global_gateway: 192.168.2.1
global_timezone: "America/New_York"
global_packages_list:
    - vim
    - net-tools
    - realmd
    - sssd
    - sssd-tools
    - sshpass
    - libnss-sss
    - libpam-sss
    - adcli
    - samba-common-bin
    - oddjob
    - oddjob-mkhomedir
    - packagekit
    - qemu-guest-agent
    - parted
    - git
    - unzip
    - acl
    - nfs-common
