---

# Purpose: Installs Radarr application.

- name: Import create_radarr_db.yml playbook
  ansible.builtin.import_playbook: create_radarr_db.yml

- name: Deploy Radarr
  hosts: radarr
  become: true
  roles:
    - global
    - users
    - autofs
    - docker_setup
    - radarr_setup
