---

# Purpose: Installs Sonarr application.

- name: Create Sonarr postgresql database
  import_playbook: create_sonarr_db.yml

- name: Deploy Sonarr
  hosts: sonarr
  become: true
  roles:
    - global
    - users
    - autofs
    - docker_setup
    - sonarr_setup
