---

# Purpose: Starts Lidarr service.

- name: Start lidarr
  hosts: lidarr
  become: true
  gather_facts: true
  roles:
    - global

  tasks:
    - name: Import lidarr_setup role start task
      ansible.builtin.import_role:
        name: lidarr_setup
        tasks_from: start
