---

- name: Create temporary directory for qcow2.xz extraction
  ansible.builtin.tempfile:
    state: directory
    suffix: qcow2_extract
  register: tempdir
  delegate_to: "{{ vms_proxmox_node }}"

- name: Download Home Assistant QCOW2 image
  ansible.builtin.get_url:
    url: "{{ home_assistant_setup_qcow2_image_url }}"
    dest: "{{ tempdir.path }}/{{ home_assistant_setup_qcow2_image_xz }}"
    mode: '0640'
  delegate_to: "{{ vms_proxmox_node }}"

- name: Decompress qcow2.xz
  ansible.builtin.command: "unxz {{ tempdir.path }}/{{ home_assistant_setup_qcow2_image_xz }}"
  delegate_to: "{{ vms_proxmox_node }}"
  changed_when: false

- name: Import qcow2 image
  ansible.builtin.command: >
    qm importdisk {{ home_assistant_setup_vmid }}
    "{{ tempdir.path }}/{{ home_assistant_setup_qcow2_image }}"
    "{{ home_assistant_setup_disk_storage }}"
    --format "{{ home_assistant_setup_vz_image_format }}"
  register: home_assistant_setup_import_disk_result
  delegate_to: "{{ vms_proxmox_node }}"
  changed_when: false

- name: Remove temporary directory
  ansible.builtin.file:
    path: "{{ tempdir.path }}"
    state: absent
  delegate_to: "{{ vms_proxmox_node }}"

- name: Extract disk volume ID from import output
  ansible.builtin.set_fact:
    home_assistant_setup_disk_volume: "{{ home_assistant_setup_import_disk_result.stdout | regex_search(\"imported disk\\s+'([^']+)'\", '\\1') | first }}"
  when: home_assistant_setup_import_disk_result is defined

- name: Attach unused disk using qm set
  ansible.builtin.command: >
    qm set {{ vms_vmid }} --{{ home_assistant_setup_disk_id }} {{ home_assistant_setup_disk_volume }}
  delegate_to: "{{ vms_proxmox_node }}"
  changed_when: false

- name: Configure boot order to boot from disk
  ansible.builtin.command: >
    qm set {{ vms_vmid }} --boot c --bootdisk {{ home_assistant_setup_disk_id }}
  delegate_to: "{{ vms_proxmox_node }}"
  changed_when: false
