[Unit]
Description=Alertmanager
After=network.target
{% if alertmanager_setup_wait_for_prometheus %}
Wants=prometheus.service
After=prometheus.service
{% endif %}

[Service]
Type=simple
User={{ alertmanager_setup_user }}
ExecStart={{ alertmanager_setup_binary }} --config.file={{ alertmanager_setup_config_file }} --web.listen-address={{ alertmanager_setup_listen_address }} --storage.path={{ alertmanager_setup_work_dir }}/data
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
