---

vms_config:
  agent: "1"
  cores: "2"
  cpu: host
  memory: 4096
  ostype: l26
  scsihw: virtio-scsi-single
  sockets: 1
  storage: cephfs_storage
  disk_os:
    disk: virtio0
    backup: true
    size: 20
    storage: cephfs_storage
  disk2:
    disk: virtio0
    backup: true
    size: 20
    storage: cephfs_storage

vms_os: ubuntu_24_server
vms_autoinstall: true
vms_enable_serial_terminal: false
vms_additional_packages: []
python3_version: 3.12
disks_disk_mounts:
  - { mountpoint: "/data", mountpoint_owner: "{{ users_list[0].username }}", mountpoint_group: "{{ users_list[0].username }}" }

postgresql_setup_version: 17

nginx_setup_disable_default_site: true

rproxy_setup_sites:
  - server_name: homelab.refol.us
    port: 80
    proxy_pass: "http://{{ global_ip_addresses['redmine-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false

redmine_setup_version: 6.1.0
ruby_setup_archive_extractdir_root: "{{ disks_disk_mounts[0].mountpoint }}/ruby"
redmine_setup_installdir_root: "{{ disks_disk_mounts[0].mountpoint }}/redmine"
