---

- name: Restart PostgreSQL
  ansible.builtin.service:
    name: postgresql
    state: restarted
  delegate_to: "{{ redmine_setup_pg_host }}"

- name: Commit wiki mirror changes # noqa: command-instead-of-module
  ansible.builtin.command: git commit -am "Mirror Redmine wiki"
  args:
    chdir: "{{ redmine_setup_wiki_mirror_repo_path }}"
  changed_when: false

- name: Push wiki mirror changes over HTTPS # noqa: command-instead-of-module
  ansible.builtin.command: >
    git push https://{{ redmine_setup_github_token }}@github.com/{{ redmine_setup_wiki_mirror_repo_path_remote }}
  args:
    chdir: "{{ redmine_setup_wiki_mirror_repo_path }}"
  changed_when: false
