---

# Purpose: Deploy Python3 virtual environment on python hosts.

- name: Install Python3 Environment
  hosts: python
  gather_facts: true
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: Import venv.yml from python3 role
      ansible.builtin.import_role:
        name: python3
        tasks_from: venv.yml
