---

redmine_setup_port: 80
redmine_setup_pg_port: 5432
redmine_setup_pg_host: "{{ global_ip_addresses[groups['pgdb'][0]] }}"
redmine_setup_version: 6.0.5
redmine_setup_archive: "redmine-{{ redmine_setup_version }}.tar.gz"
redmine_setup_installdir_root: "/data/redmine"
redmine_setup_installdir: "{{ redmine_setup_installdir_root }}/{{ redmine_setup_archive | regex_replace('\\.tar\\.gz$', '') }}"
redmine_setup_download_url: "https://www.redmine.org/releases/{{ redmine_setup_archive }}"
redmine_setup_www_rootdir: /var/lib/redmine
redmine_setup_www_publicdir: "{{ redmine_setup_www_rootdir }}/public"
redmine_setup_apache_default_conf: /etc/apache2/sites-enabled/000-default.conf
redmine_setup_smtp_settings_address: smtp-relay.gmail.com
redmine_setup_smtp_settings_port: 587

# See vault for the following variables
# redmine_setup_db_name
# redmine_setup_db_user
# redmine_setup_db_password

redmine_setup_mount_point: /nfs/backups
redmine_setup_backup_prefix: "redmine_"
redmine_setup_backup_filename: "{{ redmine_setup_backup_prefix }}{{ ansible_date_time.date }}.sqlc"
redmine_setup_backup_dir: "{{ redmine_setup_mount_point }}/redmine"
redmine_setup_backup_path: "{{ redmine_setup_backup_dir }}/{{ redmine_setup_backup_filename }}"

# Wiki mirror settings
# Redmine setup defaults

redmine_setup_wiki_mirror_repo_path: "/data/redmine/wiki-mirror/repo"
redmine_setup_wiki_mirror_extension: "md"
redmine_setup_wiki_mirror_debug: false
# Redmine API access
redmine_setup_url: "https://lab.refol.us"
redmine_setup_project: "home-lab"

# GitHub repo (HTTPS)
redmine_setup_wiki_mirror_repo_url: "https://github.com/t3knoid/homelab.git"
redmine_setup_wiki_mirror_repo_path_remote: "t3knoid/homelab.git"

# See vault for redmine_setup_api_key and redmine_setup_github_token
