---

vms_config:
  agent: "1"
  cores: "2"
  cpu: host
  memory: 4096
  ostype: l26
  scsihw: virtio-scsi-single
  sockets: 1
  storage: local
  disk_os:
    disk: virtio0
    backup: true
    size: 30
    storage: local

autofs_nfs_mounts:
  - mount_name: music
    server: 192.168.2.250:/mnt/Data/music
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /music
  - mount_name: downloads
    server: 192.168.2.250:/mnt/Data/downloads/complete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /downloads
  - mount_name: incomplete-downloads
    server: 192.168.2.250:/mnt/Data/downloads/incomplete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /incomplete-downloads
  - mount_name: backups
    server: 192.168.2.250:/mnt/Data/backups_ex/lidarr
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /config/Backups

lidarr_setup_version: 3.0.1.4866
