---

services:
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:version-{{ sabnzbd_setup_version }}
    container_name: sabnzbd
    environment:
      - PUID=2000
      - PGID=2000
      - TZ=Etc/UTC
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
    volumes:
      - /config:/config
{% for mount in autofs_nfs_mounts %}
      - /nfs/{{ mount.mount_name }}:{{ mount.container_path }}
{% endfor %}
    ports:
      - {{ sabnzbd_setup_port }}:{{ sabnzbd_setup_port }}
    restart: unless-stopped
