server {
    listen 80;
    listen [::]:80;

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ nginx_setup_site.server_name }};

    ssl_certificate {{ nginx_setup_certroot }}/{{ nginx_setup_site.server_name }}/cert.pem;
    ssl_certificate_key {{ nginx_setup_certroot }}/{{ nginx_setup_site.server_name }}/privkey.pem;  

{% if nginx_setup_site.restricted %}
{% for ip in nginx_setup_site.allow_list %}
    allow {{ ip }};
{% endfor %}

    deny all;
    satisfy any;
{% endif %}

    index index.html index.htm index.php;

    location / {
{% if nginx_setup_site.restricted %}
        # enable for basic auth
        auth_basic "Restricted";
        auth_basic_user_file /data/nginx/.htpasswd;
{% endif %}
        proxy_pass {{ nginx_setup_site.proxy_pass }}:{{ nginx_setup_site.port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;
    }

    # deny access to .htaccess/.htpasswd files
    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
	allow all;
    }  

{% if nginx_setup_site.nginx_setup_api_location_block is defined %}
    {{ nginx_setup_site.nginx_setup_api_location_block }}
{% endif %}
}