---

# Purpose: Check for failed services on Linux hosts

- name: Check for failed services on Linux hosts
  hosts: linux
  gather_facts: false
  become: true
  tasks:
    - name: Check for failed services
      ansible.builtin.command: systemctl --failed
      register: failed_services
      ignore_errors: true  # In case there are no failed services
      changed_when: false

    - name: Print failed services
      ansible.builtin.debug:
        msg: "{{ failed_services.stdout_lines }}"
