---

# Purpose: Check for user logins and failed login attempts on Linux hosts

- name: Check for Logins
  hosts: linux
  gather_facts: false
  become: true
  tasks:
    - name: Check for user logins in the last 24 hours
      ansible.builtin.command: last -s -1days
      register: recent_logins
      changed_when: false

    - name: Print recent logins
      ansible.builtin.debug:
        msg: "{{ recent_logins.stdout_lines }}"

    - name: Check for failed login attempts
      ansible.builtin.shell: grep 'Failed password' /var/log/auth.log | tail -n 10 || true
      register: failed_logins
      ignore_errors: true  # In case auth.log is not accessible
      changed_when: false

    - name: Print failed login attempts
      ansible.builtin.debug:
        msg: "{{ failed_logins.stdout_lines }}"
