---

# Purpose: Check system log entries on Linux hosts

- name: Print System Log Entries
  hosts: linux
  become: true
  gather_facts: false
  tasks:
    - name: Use journalctl to get the last 10 system log entries (optionally by service)
      ansible.builtin.command: >
        journalctl -n 10{% if service_name is defined and service_name|length > 0 %} -u {{ service_name }}{% endif %}
      register: system_logs
      ignore_errors: true  # In case syslog doesn't exist
      changed_when: false

    - name: Print system logs
      ansible.builtin.debug:
        msg: "{{ system_logs.stdout_lines }}"
