---

# Purpose: Reboot baremetal machines using the vms role's reboot tasks

- name: Reboot a machine
  hosts: all
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Reboot vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: reboot
