---

# Using pure docker commands in case we are in
# an environment where docker compose file
# is not available
- name: Check if Lazy Librarian container is running
  ansible.builtin.shell: |
    docker ps --filter name=lazylibrarian --format '{{"{{"}}.Names{{"}}"}}' | grep -x lazylibrarian
  register: lazylibrarian_setup_status
  changed_when: false
  failed_when: false  # Needed because grep may return a -1

- name: Set lazylibrarian_setup_is_running fact
  ansible.builtin.set_fact:
    lazylibrarian_setup_is_running: "{{ lazylibrarian_setup_status.stdout != '' }}"

- name: Stop Docker Container
  ansible.builtin.command: docker stop lazylibrarian
  changed_when: false
  when: lazylibrarian_setup_is_running

- name: Remove Docker Container
  ansible.builtin.command: docker rm lazylibrarian
  changed_when: false
  when: lazylibrarian_setup_is_running

- name: Remove all unused Docker networks
  ansible.builtin.command: sudo docker network prune -f
  changed_when: false
