---

# Purpose: Deploy Azure Powershell on the Ansible control node

- name: Deploy Azure Powershell
  hosts: ansible
  gather_facts: true
  become: true
  become_user: root
  roles:
    - global
    - azure_ps_setup
