---

# Purpose: Delete local DNS entries in Pi-hole for VMs, Synology, and Proxmox nodes

- name: Update Pi-hole local DNS
  hosts: vms, synology, pvenodes
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Import pihole role
      ansible.builtin.import_role:
        name: pihole
        tasks_from: delete_from_local_dns.yml
