---

# Purpose: Delete CNAME entries from Pi-hole DNS server

- name: Delete Pi-hole CNAME entry
  hosts: cname
  gather_facts: false
  roles:
    - global
  strategy: linear
  tasks:
    - name: Import pihole role
      ansible.builtin.import_role:
        name: pihole
        tasks_from: delete_cname_record.yml
      when: pihole_cname_entries is defined
