---

# Purpose: Restart the DNS service on the Pi-hole DNS server

- name: Restart DNS
  hosts: dns
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Import pihole role
      ansible.builtin.import_role:
        name: pihole
        tasks_from: restartdns.yml
