---

vms_os: ubuntu_24_server
vms_autoinstall: true
vms_enable_serial_terminal: false
vms_additional_packages: []
python3_version: 3.12

postgresql_setup_version: 14

nginx_setup_disable_default_site: true

rproxy_setup_sites:
  - server_name: lidarr.refol.us
    port: 8686
    proxy_pass: "http://{{ global_ip_addresses['lidarr-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
    nginx_setup_api_location_block: |
      # Allow the API External Access via NGINX
          location ~ /lidarr/api {
              auth_basic off;
              proxy_pass http://{{ global_ip_addresses['lidarr-0'] }}:8686;
          }
  - server_name: radarr.refol.us
    port: 7878
    proxy_pass: "http://{{ global_ip_addresses['radarr-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
    nginx_setup_api_location_block: |
      # Allow the API External Access via NGINX
          location ~ /radarr/api {
              auth_basic off;
              proxy_pass http://{{ global_ip_addresses['radarr-0'] }}:7878;
          }
  - server_name: sabnzbd.refol.us
    port: 8080
    proxy_pass: "http://{{ global_ip_addresses['sabnzbd-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
  - server_name: sonarr.refol.us
    port: 8989
    proxy_pass: "http://{{ global_ip_addresses['sonarr-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
    nginx_setup_api_location_block: |
      # Allow the API External Access via NGINX
          location ~ /sonarr/api {
              auth_basic off;
              proxy_pass http://{{ global_ip_addresses['lidarr-0'] }}:8989;
          }
  - server_name: lazy.refol.us
    port: 5299
    proxy_pass: "http://{{ global_ip_addresses['books-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
  - server_name: books.refol.us
    port: 8083
    proxy_pass: "http://{{ global_ip_addresses['books-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
  - server_name: calibre.refol.us
    port: 8080
    proxy_pass: "http://{{ global_ip_addresses['books-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
  - server_name: catalog.refol.us
    port: 8081
    proxy_pass: "http://{{ global_ip_addresses['books-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false
