#!/bin/bash

updates=$(apt list --upgradeable 2>/dev/null | awk '/upgradable/ { count++ } END { print count + 0 }')
security_updates=$(apt list --upgradeable 2>/dev/null | awk '/security/ && /upgradable/ { count++ } END { print count + 0 }')

cat <<EOF
linux_updates_available $updates
linux_security_updates_available $security_updates
EOF