---

- name: Update the Ubuntu apt package index
  ansible.builtin.apt:
    update_cache: true
  changed_when: false

- name: Upgrade all Ubuntu packages to the latest version
  ansible.builtin.apt:
    upgrade: dist

- name: Remove unused Ubuntu packages
  ansible.builtin.apt:
    autoremove: true

- name: Check if a restart is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: linux_updates_reboot_required

- name: Notify about reboot
  ansible.builtin.debug:
    msg: "Rebooting the target host in 60 seconds."

- name: Schedule reboot via cron
  ansible.builtin.cron:
    name: "temporary reboot trigger"
    user: root
    job: "shutdown -r now"
    minute: "{{ (ansible_date_time.minute | int + 1) % 60 }}"
    hour: "{{ (ansible_date_time.hour | int + ((ansible_date_time.minute | int == 59) | ternary(1,0))) % 24 }}"
  when: linux_updates_reboot_required is defined and linux_updates_reboot_required.stat.exists
