terraform {
  required_providers {
    proxmox = {
      source  = "telmate/proxmox"
      version = "{{ terraform_setup_proxmox_provider_version }}"
    }
  }
}

provider "proxmox" {
  api_url = "https://{{ global_proxmox_api_host }}:{{ global_proxmox_api_port }}/api2/json"
  username = "{{ global_proxmox_api_user }}"
  token    = "{{ global_proxmox_api_token }}"
}