---

# Purpose: Deploy Ombi application on Ombi hosts

- name: Import database creation playbook to set up Ombi database before deployment
  import_playbook: create_db.yml

- name: Deploy Ombi
  hosts: ombi
  become: true
  gather_facts: false
  roles:
    - global
    - users
    - docker_setup
    - ombi_setup
