server {

{% if inventory_hostname in groups['rproxy_main'] %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
{% else %}
    listen 80;
    listen [::]:80;
{% endif %}
    server_name {{ rproxy_setup_site.server_name }};
{% if inventory_hostname in groups['rproxy_main'] %}
    ssl_certificate {{ nginx_setup_certroot }}/{{ rproxy_setup_site.server_name }}/fullchain.pem;
    ssl_certificate_key {{ nginx_setup_certroot }}/{{ rproxy_setup_site.server_name }}/privkey.pem;
    {% if rproxy_setup_site.restricted %}
        {% for ip in rproxy_setup_site.allow_list %}
            allow {{ ip }};
        {% endfor %}
        deny all;
        satisfy any;
    {% endif %}
{% endif %}

    index index.html index.htm index.php;

    location / {
{% if inventory_hostname in groups['rproxy_main'] %}
    {% if rproxy_setup_site.restricted %}
        # enable for basic auth
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_setup_homedir }}/.htpasswd;
    {% endif %}
    proxy_pass http://backend;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host {{ rproxy_setup_site.server_name }};
        proxy_max_temp_file_size 0;
        #this is the maximum upload size
        client_max_body_size       10m;
        client_body_buffer_size    128k;
        proxy_connect_timeout      90;
        proxy_send_timeout         90;
        proxy_read_timeout  90;
        proxy_request_buffering    off; # Required for HTTP CLI commands
{% else %}
        proxy_redirect {{ rproxy_setup_site.proxy_pass }}:{{ rproxy_setup_site.port }} https://{{ rproxy_setup_site.server_name }};
        proxy_pass {{ rproxy_setup_site.proxy_pass }}:{{ rproxy_setup_site.port }};
{% endif %}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;
    }

    # deny access to .htaccess/.htpasswd files
    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        allow all;
    }

{% if rproxy_setup_site.nginx_setup_api_location_block is defined %}
    {{ rproxy_setup_site.nginx_setup_api_location_block }}
{% endif %}
}
