---

# Purpose: Clone a VM from a template in the same node as the template resides.

- name: Get a list of vms
  ansible.builtin.uri:
    url: 'https://{{ global_proxmox_api_host }}:8006/api2/json/cluster/resources?type=vm'
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ global_proxmox_api_user }}!{{ global_proxmox_api_token_id }}={{ global_proxmox_api_token }}"
    follow_redirects: safe
    validate_certs: false
  register: vms_vm_list
  delegate_to: localhost

- name: Check if vm already exists
  ansible.builtin.set_fact:
    vms_vm_exists: "{{ vms_vm_list.json.data | selectattr('name', 'equalto', vms_name | default(inventory_hostname)) | list | length > 0 }}"

- name: Clone VM from template if it does not exist
  when: not vms_vm_exists
  block:
    - name: Get Proxmox template information
      ansible.builtin.include_tasks: "get_vms_proxmox_template.yml"
      when: vms_proxmox_template is not defined

    - name: Clone VM from a template
      community.proxmox.proxmox_kvm:
        api_host: "{{ global_proxmox_api_host }}"
        api_user: "{{ global_proxmox_api_user }}"
        api_password: "{{ global_proxmox_api_password }}"
        node: "{{ vms_proxmox_template.node }}"
        name: "{{ vms_name | default(inventory_hostname) }}"
        clone: "{{ vms_proxmox_template.name }}"
        full: true
        storage: "{{ vms_config.storage }}"
        format: qcow2
        timeout: 1000
        ostype: "{{ vms_config.ostype }}"
        agent: true
        state: present
      delegate_to: localhost
      register: vms_vm_info

    - name: Show vms_vm_info
      ansible.builtin.debug:
        var: vms_vm_info
