---

# This ensures that the current Ansible user can
# connect via ssh into the new virtual machine
- name: Generate Ansible user ssh key if needed
  community.crypto.openssh_keypair:
    path: ~/.ssh/id_rsa
  delegate_to: localhost
  register: vms_sshkey

- name: Get Proxmox template information
  ansible.builtin.include_tasks: "get_vms_proxmox_template.yml"
  when: vms_proxmox_template is not defined

# https://pve.proxmox.com/wiki/Storage:_Directory
- name: Make sure /var/lib/vz/snippets folder exists
  ansible.builtin.file:
    path: "/var/lib/vz/snippets"
    state: directory
  become: true
  delegate_to: "{{ vms_proxmox_template.node }}"

- name: Copy user cloud-init file
  template:
    src: user-data-ci.j2
    dest: "/var/lib/vz/snippets/{{ vms_name | default(inventory_hostname) }}-user-data-ci.yml"
  become: true
  delegate_to: "{{ vms_proxmox_template.node }}"

- name: Copy network cloud-init file
  template:
    src: network-data-ci.j2
    dest: "/var/lib/vz/snippets/{{ vms_name | default(inventory_hostname) }}-network-data-ci.yml"
  become: true
  delegate_to: "{{ vms_proxmox_template.node }}"
