---

- name: Ensure vms_vmid is defined
  ansible.builtin.include_tasks: "get_vms_vmid.yml"
  when: vms_vmid is not defined

- name: Get Proxmox template information
  ansible.builtin.include_tasks: "get_vms_proxmox_template.yml"
  when: vms_proxmox_template is not defined

- name: Get VM configuration
  ansible.builtin.uri:
    url: "https://{{ global_proxmox_api_host }}:8006/api2/json/nodes/{{ vms_proxmox_template.node }}/qemu/{{ vms_vmid }}/config"
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ global_proxmox_api_user }}!{{ global_proxmox_api_token_id }}={{ global_proxmox_api_token }}"
    validate_certs: false
  register: vms_vm_config
  delegate_to: localhost

- name: Detect cloud-init disk key
  ansible.builtin.set_fact:
    vms_cloud_init_disk: "{{ item.key }}"
  loop: "{{ vms_vm_config.json.data | dict2items }}"
  when: "'cloudinit' in (item.value | string)"
  loop_control:
    label: "{{ item.key }}"

- name: No cloud-init disk found
  when: vms_cloud_init_disk is not defined
  ansible.builtin.debug:
    msg: "No cloud-init disk found on VM {{ vms_vmid }}. Nothing to remove."

- name: Remove cloud-init disk
  when: vms_cloud_init_disk is defined
  community.proxmox.proxmox_kvm:
    api_host: "{{ global_proxmox_api_host }}"
    api_user: "{{ global_proxmox_api_user }}"
    api_password: "{{ global_proxmox_api_password }}"
    api_token_id: "{{ global_proxmox_api_token_id }}"
    api_token_secret: "{{ global_proxmox_api_token }}"
    vmid: "{{ vms_vmid }}"
    node: "{{ vms_proxmox_template.node }}"
    delete: "{{ vms_cloud_init_disk }}"
  delegate_to: localhost
  register: vms_remove_ci_disk

- name: Show cloud-init disk removal result
  when: vms_remove_ci_disk is defined
  ansible.builtin.debug:
    var: vms_remove_ci_disk