---

- name: Remove existing backup of known_hosts file
  ansible.builtin.file:
    path: ~/.ssh/known_hosts.old
    state: absent
  delegate_to: localhost

- name: Remove existing known_host hostname entry
  ansible.builtin.known_hosts:
    name: "{{ inventory_hostname }}"
    path: ~/.ssh/known_hosts
    state: absent
  delegate_to: localhost

- name: Ensure the known_hosts file exists
  ansible.builtin.file:
    path: ~/.ssh/known_hosts
    state: touch
    mode: '0644'
  delegate_to: localhost
  changed_when: false

- name: Add remote host key to known_hosts with hostname entry
  ansible.builtin.known_hosts:
    name: "{{ inventory_hostname }}"
    key: "{{ lookup('pipe', 'ssh-keyscan -t rsa ' ~ inventory_hostname) }}"
    path: ~/.ssh/known_hosts
    state: present
  delegate_to: localhost

- name: Remove existing known_host ip address entry
  ansible.builtin.known_hosts:
    name: "{{ global_ip_address }}"
    path: ~/.ssh/known_hosts
    state: absent
  delegate_to: localhost

- name: Add remote host key to known_hosts with ip address entry
  ansible.builtin.known_hosts:
    name: "{{ global_ip_address }}"
    key: "{{ lookup('pipe', 'ssh-keyscan -t rsa ' ~ global_ip_address) }}"
    path: ~/.ssh/known_hosts
    state: present
  delegate_to: localhost
