---

- name: Ensure vms_vmid is defined
  ansible.builtin.include_tasks: "get_vms_vmid.yml"
  when: vms_vmid is not defined

- name: Migrate new image to target node
  community.proxmox.proxmox_kvm:
    api_host: "{{ global_proxmox_api_host }}"
    api_user: "{{ global_proxmox_api_user }}"
    api_password: "{{ global_proxmox_api_password }}"
    node: "{{ vms_node_to_migrate }}"
    vmid: "{{ vms_vmid | int }}"
    migrate: true
    timeout: 300
    state: present
  delegate_to: localhost
