---

- name: Clone VM from a template
  ansible.builtin.include_tasks: "clone_vm_from_template.yml"

- name: Migrate virtual machine
  ansible.builtin.include_tasks: "migrate.yml"

- name: Create cloud-init snippets
  ansible.builtin.include_tasks: "cloud_init_create_snippets.yml"

- name: Update virtual machine for cloud-init
  ansible.builtin.include_tasks: "cloud_init_prep.yml"

- name: Add additional disk if defined
  ansible.builtin.include_tasks: "add_disk.yml"
  when: vms_config.disk2 is defined and vms_config.disk2.storage is defined

- name: Start virtual machine and start the cloud-init process
  ansible.builtin.include_tasks: "start.yml"

- name: Wait for cloud-init to finish
  ansible.builtin.include_tasks: "cloud_init_wait.yml"

- name: Remove cloud-init disk
  ansible.builtin.include_tasks: cloud_init_remove_disk.yml

- name: Update known_hosts file
  ansible.builtin.include_tasks: "known_hosts.yml"
