---

# Using set_fact ensures that the original vms_proxmox_node value is stored
# and can be referenced later in the migration task.
- name: Set vms_node_to_migrate fact
  ansible.builtin.set_fact:
    vms_node_to_migrate: "{{ vms_proxmox_node | string }}"

- name: Get a list of vms
  ansible.builtin.uri:
    url: 'https://{{ global_proxmox_api_host }}:8006/api2/json/cluster/resources?type=vm'
    method: GET
    headers:
      Authorization: "PVEAPIToken={{ global_proxmox_api_user }}!{{ global_proxmox_api_token_id }}={{ global_proxmox_api_token }}"
    follow_redirects: safe
    validate_certs: false
  register: vms_vm_list
  delegate_to: localhost

- name: Check if vm already exists
  ansible.builtin.set_fact:
    vms_vm_exists: "{{ vms_vm_list.json.data | selectattr('name', 'equalto', vms_name | default(inventory_hostname)) | list | length > 0 }}"

- name: Clone VM from a template if VM does not exist
  ansible.builtin.include_tasks: "clone_vm_from_template.yml"
  when: not vms_vm_exists

- name: Create cloud-init snippets
  ansible.builtin.include_tasks: "cloud_init_create_snippets.yml"

- name: Update virtual machine for cloud-init
  ansible.builtin.include_tasks: "cloud_init_prep.yml"

- name: Add additional disk if defined
  ansible.builtin.include_tasks: "add_disk.yml"
  when: vms_config.disk2 is defined and vms_config.disk2.storage is defined

- name: Start virtual machine
  ansible.builtin.include_tasks: "start.yml"

- name: Update known_hosts file
  ansible.builtin.include_tasks: "known_hosts.yml"

- name: Wait for cloud-init to finish
  ansible.builtin.include_tasks: "cloud_init_wait.yml"

- name: Stop virtual machine before migration
  ansible.builtin.include_tasks: "stop.yml"

- name: Remove cloud-init disk
  ansible.builtin.include_tasks: cloud_init_remove_disk.yml

- name: Migrate virtual machine
  ansible.builtin.include_tasks: "migrate.yml"

- name: Start virtual machine after migration
  ansible.builtin.include_tasks: "start.yml"
