---

- name: Create cloud-init snippets
  ansible.builtin.include_tasks: "cloud_init_create_snippets.yml"

# Terraform provisioning also does the following
# - increase boot disk size
# - add second disk
# - preps cloud-init

- name: Clone VM from a template if VM does not exist
  ansible.builtin.include_tasks: "clone_vm_from_template_terraform.yml"

- name: Start virtual machine and start the cloud-init process
  ansible.builtin.include_tasks: "start.yml"

- name: Wait for cloud-init to finish
  ansible.builtin.include_tasks: "cloud_init_wait.yml"

- name: Stop virtual machine before migration
  ansible.builtin.include_tasks: "stop.yml"

- name: Remove cloud-init disk
  ansible.builtin.include_tasks: cloud_init_remove_disk.yml

- name: Migrate virtual machine
  ansible.builtin.include_tasks: "migrate.yml"

- name: Start virtual machine after migration
  ansible.builtin.include_tasks: "start.yml"

- name: Update known_hosts file
  ansible.builtin.include_tasks: "known_hosts.yml"
