---
cluster.name: "{{ elasticsearch_setup_clustername }}"
network.host: "{{ elasticsearch_setup_host }}"
transport.host: "{{ elasticsearch_setup_host }}"
http.port: {{ elasticsearch_http_port }}
discovery.type: "single-node"
roles