---

- name: Stop Docker Container
  ansible.builtin.include_tasks: stop.yml

- name: Create config folder
  ansible.builtin.file:
    path: "{{ radarr_setup_config_dir }}"
    owner: "{{ users_list[0].username }}"
    group: "{{ users_list[0].username }}"
    mode: "0755"
    state: directory

- name: Verify config folder exists
  ansible.builtin.stat:
    path: "{{ radarr_setup_config_dir }}"
  register: radarr_setup_config_dir_stat

- name: Fail if config folder does not exists
  ansible.builtin.fail:
    msg: "{{ radarr_setup_config_dir }}"
  when: radarr_setup_config_dir_stat is not defined

# This assumes that an nfs share has been mounted at /nfs/backups
- name: Create network backups folder
  ansible.builtin.file:
    path: "{{ radarr_setup_backups_dir }}"
    owner: "{{ users_list[0].username }}"
    group: "{{ users_list[0].username }}"
    mode: "0777"
    state: directory

- name: Copy config.yml to target machine
  ansible.builtin.template:
    src: config.xml.j2
    dest: "{{ radarr_setup_config_dir }}/config.xml"
    mode: "0640"

- name: Copy docker-compose.yml to target machine
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ radarr_setup_config_dir }}/docker-compose.yml"
    mode: "0640"

- name: Make sure docker service account has access to config dir
  ansible.builtin.file:
    path: "{{ radarr_setup_config_dir }}"
    owner: "{{ users_list[0].username }}"
    group: "{{ users_list[0].username }}"
    mode: "0755"
    recurse: true

- name: Prune unused Docker images
  ansible.builtin.command: docker image prune -f
  changed_when: false

- name: Get list of Docker images
  ansible.builtin.command: docker images -q
  register: radarr_setup_docker_images
  changed_when: false

- name: Remove all images
  ansible.builtin.shell: "docker rmi -f $(docker images -a -q)"
  changed_when: false
  when: radarr_setup_docker_images.stdout_lines | length > 0

- name: Pull latest image
  ansible.builtin.command: docker-compose -f "{{ radarr_setup_config_dir }}/docker-compose.yml" pull
  changed_when: false

- name: Run Docker Container
  ansible.builtin.include_tasks: start.yml
