---

# Purpose: Adds additional disks to virtual machines.

- name: Add disks to VM
  hosts: vms
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Add additional disks to a virtual machine
      ansible.builtin.import_role:
        name: vms
        tasks_from: add_disk.yml
