---

# Purpose: Creates a cloud-init ISO for virtual machines to enable autoinstallation.

- name: Create cloud-init.iso for autoinstall
  hosts: vms
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Generate cloud-init.iso
      ansible.builtin.import_role:
        name: vms
        tasks_from: cloud_init_iso
      run_once: true # noqa: run-once[task]
