---

# Purpose: Forces a reboot of virtual machines by stopping and starting them.

- name: Reboot a VM
  hosts: vms
  gather_facts: false
  become: true
  roles:
    - global

  tasks:
    - name: Stop vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: stop

    - name: Start vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: start
