---

# Purpose: Reboots virtual machines gracefully.

- name: Reboot a VM
  hosts: vms
  gather_facts: false
  become: false
  roles:
    - global

  tasks:
    - name: Reboot vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: reboot
