---

# Purpose: Removes virtual machines using either Terraform or Ansible, with confirmation and DNS cleanup. 

- name: Remove the VM
  hosts: removable
  gather_facts: false
  vars:
    use_terraform: true
  roles:
    - global

  tasks:

    - name: The following virtual machines will be removed
      ansible.builtin.debug:
        msg: "{{ ansible_play_hosts }}"

    - name: Confirm virtual machine removal
      ansible.builtin.pause:
        prompt: "Are you sure you want to proceed? (yes/no)"
      register: confirm_remove
      when: confirm_remove is not defined or confirm_remove == "yes"

    - name: Exit
      ansible.builtin.meta: end_play
      when: confirm_remove.user_input | default('yes') != 'yes'

    - name: Remove dns entry
      ansible.builtin.import_role:
        name: pihole
        tasks_from: delete_from_local_dns.yml

    - name: Stop vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: stop

    - name: Remove a virtual machine using Terraform
      ansible.builtin.import_role:
        name: vms
        tasks_from: remove_with_terraform
      when: vms_use_terraform | default(false)

    - name: Remove a virtual machine using Ansible
      ansible.builtin.import_role:
        name: vms
        tasks_from: remove
      when: not (vms_use_terraform | default(false))
