---

# Purpose: Reverts virtual machines to a specified snapshot and starts them.

- name: Revert snapshot
  hosts: vms
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Import snapshot_revert task from vms role
      ansible.builtin.import_role:
        name: vms
        tasks_from: snapshot_revert

    - name: Import start task from vms role
      ansible.builtin.import_role:
        name: vms
        tasks_from: start
