---

# Purpose: Starts a virtual machine.

- name: Start a VM
  hosts: vms
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Start vm
      ansible.builtin.import_role:
        name: vms
        tasks_from: start
