---

# Purpose: Updates the known_hosts file with the SSH fingerprints of all virtual machines.

- name: Add host fingerprint to known_hosts
  hosts: all
  gather_facts: false
  roles:
    - global

  tasks:
    - name: Import ansible role
      ansible.builtin.import_role:
        name: vms
        tasks_from: known_hosts
