---

# Purpose: Upgrades the operating system of virtual machines.

- name: Upgrade a VM Operating System
  hosts: vms
  gather_facts: true
  roles:
    - global

  tasks:
    - name: Upgrade OS
      ansible.builtin.import_role:
        name: vms
        tasks_from: upgrade
