[Unit]
Description=Prometheus Proxmox VE Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ pve_exporter_setup_user }}
Group={{ pve_exporter_setup_group }}
ExecStart={{ pve_exporter_setup_venv }}/bin/pve_exporter --config.file={{ pve_exporter_setup_config_file }} --web.listen-address={{ pve_exporter_setup_listen_address }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
