---

# Purpose: Join hosts to an Active Directory domain

- name: Join active directory domain
  hosts: vms, baremetal, wsl
  gather_facts: false
  become: true
  roles:
    - global
  tasks:
    - name: Import ad role
      ansible.builtin.import_role:
        name: ad
