---
galaxy_info:
  role_name: win11_business_template
  author: Francis Refol
  description: Creates a Windows 11 Business VM in Proxmox and prepares it for template conversion.
  license: MIT
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
