---

# - name: Include nginx variables
#   ansible.builtin.include_vars:
#     dir: ../../../roles/nginx_setup/defaults/main

- name: Add upstream block to "{{ nginx_setup_conf }}"
  ansible.builtin.blockinfile:
    path: "{{ nginx_setup_conf }}"
    insertafter: '^http\s*{'  # regex ensures match even with spaces/tabs
    block: |
      upstream backend {
        {{ rproxy_setup_backend_servers }}
      }
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
  when: inventory_hostname in groups['rproxy_main']

- name: Set rproxy_setup_site to default_server
  ansible.builtin.set_fact:
    rproxy_setup_site:
      - server_name: default_server
        port: 80
  when: inventory_hostname in groups['rproxy_main']

- name: Configure default_server
  ansible.builtin.template:
    src: site.conf.j2
    dest: "{{ nginx_setup_sites_available }}/default_server.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Reload nginx
  when: inventory_hostname in groups['rproxy_main']

- name: Enable default_server site
  ansible.builtin.file:
    src: "{{ nginx_setup_sites_available }}/default_server.conf"
    dest: "{{ nginx_setup_sites_enabled }}/default_server.conf"
    state: link
    force: true
  notify: Reload nginx
  when: inventory_hostname in groups['rproxy_main']
