---

# - name: Include nginx variables
#   ansible.builtin.include_vars:
#     dir: ../../../roles/nginx_setup/defaults/main

- name: Add upstream block to "{{ nginx_setup_conf }}"
  ansible.builtin.blockinfile:
    path: "{{ nginx_setup_conf }}"
    insertafter: '^http\s*{'  # regex ensures match even with spaces/tabs
    block: |
      upstream backend {
        {{ rproxy_setup_backend_servers }}
      }
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
  when: inventory_hostname in groups['rproxy_main']
