---
- name: Run Bedrock version checker script
  ansible.builtin.script: get_bedrock_version.py
  register: minecraft_setup_bedrock_version_output
  args:
    executable: "{{ python3_venv_folder }}/bin/python3"
  changed_when: false

- name: Show currently installed Bedrock version
  ansible.builtin.debug:
    msg: "Latest installed Bedrock Server version is {{ bedrock_setup_version }}"
  
- name: Show latest Bedrock version
  ansible.builtin.debug:
    msg: "Latest Bedrock Server version is {{ minecraft_setup_bedrock_version_output.stdout }}"

- name: Check if latest version is newer
  debug:
    msg: "Update available: {{ minecraft_setup_bedrock_version_output.stdout }} is newer than {{ bedrock_setup_version }}"
  when: 
    - minecraft_setup_bedrock_version_output.stdout | trim is version(bedrock_setup_version, '>')
    - minecraft_setup_bedrock_version_output.stdout | trim != bedrock_setup_version
