interface={{ pxeserver_setup_interface }}
bind-interfaces
domain={{ global_domain_name }}
dhcp-range={{ pxeserver_setup_interface }},{{pxeserver_setup_dhcp_range}},{{ pxeserver_setup_dhcp_lease }}
dhcp-option=option:router,{{ global_gateway }}
{% for dns_server in global_dns_servers -%}
dhcp-option=option:dns-server,{{ dns_server }}
{% endfor -%}
enable-tftp
tftp-root={{ pxeserver_setup_tftp_dir }}
dhcp-boot=pxelinux.0
