---

vms_config:
  agent: "1"
  cores: "2"
  cpu: host
  memory: 2048
  ostype: l26
  scsihw: virtio-scsi-single
  sockets: 1
  storage: local
  disk_os:
    disk: virtio0
    backup: true
    size: 20
    storage: local

autofs_nfs_mounts:
  - mount_name: tvshows
    server: 192.168.2.250:/mnt/Data/tvshows
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /tv
  - mount_name: downloads
    server: 192.168.2.250:/mnt/Data/downloads/complete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /downloads
  - mount_name: incomplete-downloads
    server: 192.168.2.250:/mnt/Data/downloads/incomplete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /incomplete-downloads
  - mount_name: backups
    server: 192.168.2.250:/mnt/Data/backups_ex/sonarr
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /config/Backups

sonarr_setup_version: 4.0.16.2944
