---

- name: Set SABnzbd pre-configuration directory
  ansible.builtin.set_fact:
    sabnzbd_setup_pre_config: "{{ role_path }}/tasks/pre_config.yml"
  when: sabnzbd_setup_pre_config is not defined or sabnzbd_setup_pre_config != ""

- name: Deploy SABnzbd Docker Service
  ansible.builtin.include_role:
    name: docker_service_deploy
  vars:
    docker_service_deploy_container_name: "sabnzbd"
    docker_service_deploy_pre_config: "{{ sabnzbd_setup_pre_config }}"
    docker_service_deploy_config_dir: "{{ sabnzbd_setup_config_dir }}"
    docker_service_deploy_backups_dir: "{{ sabnzbd_setup_backups_dir }}"
    docker_service_deploy_config_templates:
      - src: "sabnzbd.ini.j2"
        dest: "sabnzbd.ini"
        mode: "0640"
    docker_service_deploy_compose_template: "docker-compose.yml.j2"
