---

# Using pure docker commands in case we are in
# an environment where docker compose file
# is not available
- name: Check if sabnzbd container is running
  ansible.builtin.command:
    argv:
      - docker
      - ps
      - --filter
      - name=sabnzbd
      - --format
      - '{{ ".ID" }}'
  register: sabnzbd_setup_status
  changed_when: false

- name: Set sabnzbd_setup_is_running fact
  ansible.builtin.set_fact:
    sabnzbd_setup_is_running: "{{ sabnzbd_setup_status.stdout != '' }}"

- name: Stop Docker Container
  ansible.builtin.command: docker stop sabnzbd
  changed_when: false
  when: sabnzbd_setup_is_running

- name: Remove Docker Container
  ansible.builtin.command: docker rm sabnzbd
  changed_when: false
  when: sabnzbd_setup_is_running

- name: Remove all unused Docker networks
  ansible.builtin.command: sudo docker network prune -f
  changed_when: false
