{
  "postgres": {
    "host": "{{ semaphoreui_setup_pg_host }}",
    "name": "{{ semaphoreui_setup_db_name }}",
    "user": "{{ semaphoreui_setup_db_user }}",
    "pass": "{{ semaphoreui_setup_db_password }}"
  },
  "dialect": "postgres",
  "use_remote_runner": {{ semaphoreui_setup_use_remote_runner | string | lower }},
  "runner_registration_token": "{{ semaphoreui_setup_runner_token }}",
  "cookie_hash": "7eWpFEBs0qDR4m3HtZUUiNMAtuHmxfllkMND5MC5pbY=",
  "cookie_encryption": "71qXCYKxpXRkBezn6dXfQeTcXl9HLXtDjWCGRbMx9pE=",
  "access_key_encryption": "KPjm5C8XwynbvkIt87oUv5deyaY/HWbBXga9FzPXqQk=",
  "port": "{{ semaphoreui_setup_port }}",
  "interface": "",
  "tmp_path": "{{ semaphoreui_setup_tmpdir }}",
  "email_alert": {{ semaphoreui_setup_email_alert | bool | lower }},
  "email_sender": "{{ semaphoreui_setup_email_sender }}",
  "email_host": "{{ semaphoreui_setup_email_host }}",
  "email_port": "{{ semaphoreui_setup_email_port }}",
  "email_secure" : true,
  "email_username" : "{{ semaphoreui_setup_email_username }}",
  "email_password" : "{{ semaphoreui_setup_email_password }}",
  "email_tls": true,
  "email_tls_min_version": "1.2",
  "web_host": "",
  "ldap_enable": true,
  "ldap_needtls": false,
  "ldap_binddn": "{{ semaphoreui_setup_ldap_bind_dn }}",
  "ldap_bindpassword": "{{ semaphoreui_setup_ldap_bindpassword }}",
  "ldap_server": "{{ semaphoreui_setup_ldap_server }}",
  "ldap_searchdn": "{{ semaphoreui_setup_ldap_searchdn }}",
  "ldap_searchfilter": "{{ semaphoreui_setup_ldap_searchfilter }}",
  "ldap_mappings": {
    "dn": "{{ semaphoreui_setup_ldap_mappings.dn }}",
    "mail": "{{ semaphoreui_setup_ldap_mappings.mail }}",
    "uid": "{{ semaphoreui_setup_ldap_mappings.uid }}",
    "cn": "{{ semaphoreui_setup_ldap_mappings.cn }}"
  },
  "oidc_providers": {
        "azure": {
            "color": "{{ semaphoreui_setup_oidc_color }}",
            "display_name": "{{ semaphoreui_setup_oidc_display_name }}",
            "provider_url": "{{ semaphoreui_setup_oidc_provider_url }}",
            "client_id": "{{ semaphoreui_setup_oidc_client_id }}",
            "client_secret": "{{ semaphoreui_setup_oidc_secret }}",
            "redirect_url": "{{ semaphoreui_setup_oidc_redirect_url }}"
        }
  },
  "telegram_chat": "",
  "telegram_token": "",
  "concurrency_mode": "",
  "max_parallel_tasks": 0,
  "telegram_alert": false,
  "slack_alert": false,
  "slack_url": "",
  "microsoft_teams_alert": false,
  "microsoft_teams_url": "",
  "rocketchat_alert": false,
  "rocketchat_url": ""
}
{
  "schedule": {
    "timezone": "{{ semaphoreui_setup_timezone }}"
  }
}
