{
  "postgres": {
    "host": "{{ semaphoreui_setup_pgdb_ip }}",
    "name": "{{ semaphoreui_setup_db_name }}",
    "user": "{{ semaphoreui_setup_db_user }}",
    "pass": "{{ semaphoreui_setup_db_password }}"
  },
  "dialect": "postgres",
  "use_remote_runner": true,
  "runner_registration_token": "0ZrCUmemNwMQ+4sxY+7Nk0ERwxbpIp0RExAzWYDnKbw=",
  "cookie_hash": "7eWpFEBs0qDR4m3HtZUUiNMAtuHmxfllkMND5MC5pbY=",
  "cookie_encryption": "71qXCYKxpXRkBezn6dXfQeTcXl9HLXtDjWCGRbMx9pE=",
  "access_key_encryption": "KPjm5C8XwynbvkIt87oUv5deyaY/HWbBXga9FzPXqQk=",
  "port": "3000",
  "interface": "",
  "tmp_path": "{{ semaphoreui_setup_tmpdir }}",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "web_host": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": "",
  "concurrency_mode": "",
  "max_parallel_tasks": 0,
  "email_alert": false,
  "telegram_alert": false,
  "slack_alert": false,
  "slack_url": "",
  "microsoft_teams_alert": false,
  "microsoft_teams_url": "",
  "rocketchat_alert": false,
  "rocketchat_url": "",
  "ldap_enable": false,
  "ldap_needtls": false
}
