---

# Purpose: Stage certificates on the cert staging host in preparation for use by reverse proxy and other services

- name: Stage certificates
  hosts: certs
  gather_facts: false
  become: true
  roles:
    - global

  tasks:
    - name: Include stage.yml from certs role
      ansible.builtin.import_role:
        name: certs
        tasks_from: stage.yml
