{% if ipsec_vpn_server_setup_vpn_ipsec_psk | length > 0 and ipsec_vpn_server_setup_vpn_user | length > 0 and ipsec_vpn_server_setup_vpn_password | length > 0 %}
VPN_IPSEC_PSK={{ ipsec_vpn_server_setup_vpn_ipsec_psk }}
VPN_USER={{ ipsec_vpn_server_setup_vpn_user }}
VPN_PASSWORD={{ ipsec_vpn_server_setup_vpn_password }}
{% endif %}
{% if ipsec_vpn_server_setup_additional_users | length > 0 %}
VPN_ADDL_USERS={{ ipsec_vpn_server_setup_additional_users | join(' ') }}
{% endif %}
{% if ipsec_vpn_server_setup_additional_passwords | length > 0 %}
VPN_ADDL_PASSWORDS={{ ipsec_vpn_server_setup_additional_passwords | join(' ') }}
{% endif %}
{% if ipsec_vpn_server_setup_public_ip | length > 0 %}
VPN_PUBLIC_IP={{ ipsec_vpn_server_setup_public_ip }}
{% endif %}
{% if ipsec_vpn_server_setup_dns_name | length > 0 %}
VPN_DNS_NAME={{ ipsec_vpn_server_setup_dns_name }}
{% endif %}
{% if ipsec_vpn_server_setup_client_name | length > 0 %}
VPN_CLIENT_NAME={{ ipsec_vpn_server_setup_client_name }}
{% endif %}
{% if ipsec_vpn_server_setup_dns_servers | length > 0 %}
VPN_DNS_SRV1={{ ipsec_vpn_server_setup_dns_servers[0] }}
{% endif %}
{% if ipsec_vpn_server_setup_dns_servers | length > 1 %}
VPN_DNS_SRV2={{ ipsec_vpn_server_setup_dns_servers[1] }}
{% endif %}
{% if ipsec_vpn_server_setup_protect_config | bool %}
VPN_PROTECT_CONFIG=yes
{% endif %}
{% if ipsec_vpn_server_setup_public_ipv6 | length > 0 %}
VPN_PUBLIC_IP6={{ ipsec_vpn_server_setup_public_ipv6 }}
{% endif %}
{% if ipsec_vpn_server_setup_ipv6_subnet | length > 0 %}
VPN_IP6_NET={{ ipsec_vpn_server_setup_ipv6_subnet }}
{% endif %}