---

# Purpose: Installs Semaphore UI application on semaphore hosts.

- name: Deploy postgresql
  ansible.builtin.import_playbook: ../postgresql/deploy_postgresql.yml

- name: Create the SemaphoreUI database
  ansible.builtin.import_playbook: create_db.yml

- name: Install Ansible
  ansible.builtin.import_playbook: ../ansible/deploy_ansible.yml

- name: Deploy Semaphore UI
  hosts: semaphore
  gather_facts: true
  become: true
  roles:
    - global
    - sshpass
    - autofs
    - semaphoreui_setup
