---
version: "2.1"
services:
  ombi:
    image: ghcr.io/linuxserver/ombi:{{ ombi_setup_version }}
    container_name: ombi
    environment:
      - PUID=2000
      - PGID=2000
      - TZ=Etc/UTC
      - BASE_URL=/ #optional
    volumes:
      - config:/config
    ports:
      - {{ ombi_setup_port }}:{{ ombi_setup_port }}
    restart: unless-stopped
volumes:
  config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /config
