---

- name: Ensure azure.azcollection required Python modules are installed
  ansible.builtin.pip:
    requirements: >-
      {{ python3_venv_folder }}/lib/python{{ python3_version }}/site-packages/ansible_collections/azure/azcollection/requirements.txt
    state: present
    virtualenv: "{{ python3_venv_folder }}"
  delegate_to: localhost

- name: Ensure azure-cli Python module installed
  ansible.builtin.pip:
    name: azure-cli
    state: present
    virtualenv: "{{ python3_venv_folder }}"
  delegate_to: localhost

- name: Filter sites that require OAuth2
  ansible.builtin.set_fact:
    entra_id_oauth2_sites: "{{ rproxy_setup_sites
                              | selectattr('use_oauth2', 'defined')
                              | selectattr('use_oauth2', 'equalto', true)
                              | list }}"
  delegate_to: localhost

- name: Register Entra ID application for each site
  ansible.builtin.include_tasks: register_app.yml
  loop: "{{ entra_id_oauth2_sites }}"
  register: entra_id_oauth2_app_results

- name: Calculate secret expiry offset from today
  ansible.builtin.set_fact:
    entra_id_oauth2_secret_expiry: >-
      {{
        lookup(
          'pipe',
          'date -u -d "+' +
          (entra_id_oauth2_secret_expiry_offset_days | string) +
          ' days" +%Y-%m-%dT%H:%M:%SZ'
        )
      }}
  delegate_to: localhost
  run_once: true

# Establishes a session and writes a token cache under ~/.azure
# before generating secrets
- name: Login with service principal
  ansible.builtin.command: >
    az login --service-principal
    --username {{ global_azure_sp_client_id }}
    --password {{ global_azure_sp_secret }}
    --tenant {{ global_azure_tenant }}
  delegate_to: localhost
  changed_when: false

- name: Create client secret for each site
  ansible.builtin.include_tasks: generate_secret.yml
  loop: "{{ entra_id_oauth2_sites }}"
  register: entra_id_oauth2_secret_results

- name: Build combined secret map
  ansible.builtin.set_fact:
    _entra_id_secret_map: >-
      {{
        entra_id_oauth2_secret_results.results
        | map(attribute='ansible_facts._entra_id_secret_map')
        | map('default', {})
        | list
        | combine
      }}

- name: Build updated list with secrets
  ansible.builtin.set_fact:
    entra_id_oauth2_updated_sites: []

- name: Append each site with injected secret
  ansible.builtin.set_fact:
    entra_id_oauth2_updated_sites: >-
      {{
        entra_id_oauth2_updated_sites +
        [ item | combine({
            'oauth2_client_secret':
              (_entra_id_oauth2_secret_map[item.oauth2_client_id]
               | default(item.oauth2_client_secret) )
          })
        ]
      }}
  loop: "{{ rproxy_setup_sites }}"

# Will move this to oauth2_proxy_setup role later
- name: Replace rproxy_setup_sites with updated list
  ansible.builtin.set_fact:
    rproxy_setup_sites: "{{ entra_id_oauth2_updated_sites }}"
