---

# Check if the application exists before trying to create it
# if it already exists, store the app_id for downstream tasks
# and skip creation.
- name: Get existing application by display name
  no_log: true
  azure.azcollection.azure_rm_adapplication_info:
    app_display_name: "{{ item.server_name }}"
    client_id: "{{ global_azure_sp_client_id }}"
    secret: "{{ global_azure_sp_secret }}"
    tenant: "{{ global_azure_tenant }}"
    subscription_id: "{{ global_azure_subscription_id }}"
  register: entra_id_oauth2_existing_app
  delegate_to: localhost

- name: Create application if it does not exist
  no_log: false
  azure.azcollection.azure_rm_adapplication:
    display_name: "{{ item.server_name }}"
    identifier_uris: ["api://{{ item.server_name }}"]
    reply_urls: "{{ item.oauth2_callback_url }}"
    client_id: "{{ global_azure_sp_client_id }}"
    secret: "{{ global_azure_sp_secret }}"
    tenant: "{{ global_azure_tenant }}"
    subscription_id: "{{ global_azure_subscription_id }}"
    state: present
  register: entra_id_oauth2_created_app
  delegate_to: localhost
  when: entra_id_oauth2_existing_app.applications | length == 0

- name: Set app_id to either existing or created app
  ansible.builtin.set_fact:
    entra_id_oauth2_app_id: >-
      {{
        (
          (entra_id_oauth2_existing_app is defined and
           entra_id_oauth2_existing_app.applications | length > 0 and
           entra_id_oauth2_existing_app.applications[0].app_id) or
          (entra_id_oauth2_created_app is defined and
           entra_id_oauth2_created_app.applications | length > 0 and
           entra_id_oauth2_created_app.applications[0].app_id)
        ) | default('')
      }}

# The application id is now in the variable entra_id_oauth2_app_id

# Generate secret for the application just created or retrieved

- name: Retrieve existing credentials
  ansible.builtin.command: >
    az ad app credential list
    --id {{ entra_id_oauth2_app_id }}
    --query "[].keyId" -o tsv
  register: entra_id_oauth2_existing_keys
  delegate_to: localhost
  changed_when: false

- name: Show entra_id_oauth2_existing_keys
  ansible.builtin.debug:
    var: entra_id_oauth2_existing_keys

- name: Delete existing credentials
  no_log: true
  ansible.builtin.command: >
    az ad app credential delete
    --id {{ entra_id_oauth2_app_id }}
    --key-id {{ item_key }}
  loop: "{{ entra_id_oauth2_existing_keys.stdout_lines }}"
  loop_control:
    loop_var: item_key
  delegate_to: localhost
  when:
    - entra_id_oauth2_existing_keys.stdout != ""
  changed_when: false

- name: Wait 5 seconds to avoid concurrency issues
  ansible.builtin.pause:
    seconds: 5

- name: Create client secret using Azure CLI and retrieve new secret
  no_log: true
  ansible.builtin.command: >
    az ad app credential reset
    --id {{ entra_id_oauth2_app_id }}
    --append
    --display-name "Generated by Ansible on {{ ansible_date_time.date }}"
    --end-date {{ entra_id_oauth2_secret_expiry }}
    --query password -o tsv
  register: entra_id_oauth2_secret
  delegate_to: localhost
  changed_when: false
  retries: 8
  delay: 5
  until: entra_id_oauth2_secret.rc == 0

# Create a mapping using the current server name to registered application's app_id
# and generated client secret. This mapping will be used in downstream tasks
# to build an updated list of sites with the correct client IDs and client secrets
# injected.
- name: Create a mapping using the current server name to registered application's app_id
  ansible.builtin.set_fact:
    entra_id_oauth2_site_client_map: >-
      {{
        (entra_id_oauth2_site_client_map | default({}))
        | combine({
            item.server_name: {
              'client_id': (entra_id_oauth2_app_id | default('')),
              'client_secret': (entra_id_oauth2_secret.stdout | default(''))
              }
          }, recursive=True)
      }}
