---

# Purpose: Configure PXE on pxe_client hosts

- name: Configure PXE
  hosts: pxe_client
  gather_facts: false
  become: true
  roles:
    - global

  tasks:
    - name: Include configure.yml from pxeserver_setup role
      ansible.builtin.import_role:
        name: pxeserver_setup
        tasks_from: configure.yml
