[Unit]
Description=Prometheus Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ blackbox_exporter_setup_user }}
Group={{ blackbox_exporter_setup_group }}
ExecStart={{ blackbox_exporter_setup_binary }} --config.file={{ blackbox_exporter_setup_config_file }} --web.listen-address={{ blackbox_exporter_setup_listen_address }} --log.level={{ blackbox_exporter_setup_log_level }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target