---

- name: Ensure required packages are installed
  ansible.builtin.apt:
    pkg:
      - wget
      - libguestfs-tools

- name: Download Ubuntu cloud image
  ansible.builtin.get_url:
    url: "{{ global_os[cloudinit_template_os].cloudinit_download_url }}/{{ global_os[cloudinit_template_os].cloudinit_img }}"
    dest: "{{ cloudinit_download_dest }}"
    mode: '0644'

# - name: Customize image
#   ansible.builtin.shell: |
#     virt-customize -a {{ cloudinit_download_dest }} --update
#     virt-customize -a {{ cloudinit_download_dest }} --install qemu-guest-agent
#     virt-customize -a {{ cloudinit_download_dest }} --run-command '>/etc/machine-id'
#   changed_when: false

- name: Load JSON .vmlist file content from proxmox node
  ansible.builtin.slurp:
    src: '/etc/pve/.vmlist'
  register: cloudinit_vmlist

- name: Check if virtual machine exists
  ansible.builtin.set_fact:
    cloudinit_vm_exists: "{{ cloudinit_vmid | string in (cloudinit_vmlist.content | b64decode | from_json | json_query('keys(ids)')) }}"

- name: Remove existing virtual machine
  ansible.builtin.command: "qm destroy {{ cloudinit_vmid }} --purge"
  args:
    removes: "/var/lib/vz/images/{{ cloudinit_vmid }}/base-{{ cloudinit_vmid }}-disk-0.raw"
  changed_when: false
  when: cloudinit_vm_exists

- name: Ensure VM is created
  ansible.builtin.command: >
    qm create {{ cloudinit_vmid }} --name {{ cloudinit_template_name }} \
    --memory {{ cloudinit_memory_mb }} \
    --net0 {{ cloudinit_network_device }} \
    --scsihw {{ cloudinit_scsi_controller_model }} \
    --agent enabled={{ cloudinit_agent_enabled | ternary('1', '0') }} \
    --cpu cputype={{ cloudinit_cpu_type }}
    --ostype {{ cloudinit_template.ostype }}
  args:
    creates: "/var/lib/vz/images/{{ cloudinit_vmid }}/base-{{ cloudinit_vmid }}-disk-0.raw"
  changed_when: false

- name: Set virtio disk for VM
  ansible.builtin.command: "qm set {{ cloudinit_vmid }} --virtio0 {{ cloudinit_storage }}:0,import-from={{ cloudinit_download_dest }}"
  changed_when: false

- name: Add Cloud-Init CD-ROM drive
  ansible.builtin.command: "qm set {{ cloudinit_vmid }} --ide2 {{ cloudinit_storage }}:cloudinit"
  changed_when: false

- name: Set to boot from virtio0
  ansible.builtin.command: "qm set {{ cloudinit_vmid }} --boot order=virtio0"
  changed_when: false

- name: Configure serial console as a display
  ansible.builtin.command: "qm set {{ cloudinit_vmid }} --serial0 socket --vga serial0"
  changed_when: false

- name: Configure virtual machine into a template
  ansible.builtin.command: "qm template {{ cloudinit_vmid }}"
  changed_when: false

- name: Cleanup Cloud-Init image
  ansible.builtin.file:
    path: "{{ cloudinit_download_dest }}"
    state: absent
