---

production:
  adapter: postgresql
  database: {{ redmine_setup_db_name }}
  host: {{ redmine_setup_pg_host }}
  username: {{ redmine_setup_db_user }}
  password:  {{ redmine_setup_db_password }}
  encoding: utf8
