---

- name: Install Terraform dependencies
  ansible.builtin.apt:
    name:
      - gnupg
      - software-properties-common
      - curl
      - unzip
    state: present

- name: Download Terraform
  ansible.builtin.get_url:
    url: "https://releases.hashicorp.com/terraform/{{ terraform_setup_version }}/terraform_{{ terraform_setup_version }}_{{ terraform_setup_os_arch }}.zip"
    dest: "/tmp/terraform.zip"
    mode: "0644"

- name: Unzip terraform.zip
  ansible.builtin.unarchive:
    src: /tmp/terraform.zip
    dest: "{{ terraform_setup_home }}"
    remote_src: true

- name: Make Terraform executable
  ansible.builtin.file:
    path: "{{ terraform_setup_home }}/terraform"
    mode: "0755"

- name: Install Vault dependencies
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Add HashiCorp GPG key
  ansible.builtin.shell: >
    curl -fsSL https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/hashicorp-archive-keyring.gpg

- name: Add HashiCorp repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/hashicorp.list
    content: >
      deb [arch={{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }} signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg]
      https://apt.releases.hashicorp.com
      {{ ansible_lsb.codename }} main
    mode: "0600"
    force: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Install HashiCorp Vault
  ansible.builtin.apt:
    name: "vault={{ terraform_setup_vault_version }}"
    state: present
  become: true
