---

# Purpose: Provision a new VM and prepare it as an Ansible node

- name: Create a new VM
  ansible.builtin.import_playbook: vms/provision_vm.yml

- name: Bootstrap Python3
  ansible.builtin.import_playbook: python/bootstrap_python3.yml

- name: Add to active directory domain
  ansible.builtin.import_playbook: ad/join_domain.yml

- name: Prep Ansible node
  ansible.builtin.import_playbook: ansible/prep_ansible_node.yml

- name: Add users
  ansible.builtin.import_playbook: vms/add_users.yml

- name: Prepare disks
  ansible.builtin.import_playbook: vms/prep_disk.yml
