---

semaphoreui_setup_projects_keystores:
  "Home Lab":
    - name: "Semaphore user credentials"
      type: "login_password"
      login_password:
        login: "{{ semaphoreui_setup_semaphore_login }}"
        password: "{{ semaphoreui_setup_semaphore_password }}"
    - name: "Ansible user credentials"
      type: "login_password"
      login_password:
        login: "{{ semaphoreui_setup_ansible_login }}"
        password: "{{ semaphoreui_setup_ansible_password }}"
    - name: "Ansible vault password"
      type: "login_password"
      login_password:
        login: ""
        password: "{{ semaphoreui_setup_ansible_vault_password }}"
    - name: "None"
      type: "none"
      empty: true
