---

vms_config:
  agent: "1"
  cores: "2"
  cpu: host
  memory: 4096
  ostype: l26
  scsihw: virtio-scsi-single
  sockets: 1
  storage: local
  disk_os:
    disk: virtio0
    backup: true
    size: 30
    storage: local

autofs_nfs_mounts:
  - mount_name: books
    server: 192.168.2.250:/mnt/Data/books
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /books
  - mount_name: downloads
    server: 192.168.2.250:/mnt/Data/downloads/complete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /downloads
  - mount_name: backups
    server: 192.168.2.250:/mnt/Data/backups_ex
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
    container_path: /backups

calibreweb_setup_version: 0.6.25 # https://hub.docker.com/r/linuxserver/calibre-web
calibre_setup_version: 8.15.0 # see https://hub.docker.com/r/linuxserver/calibre
lazylibrarian_setup_version: 488271c5 # see https://hub.docker.com/r/linuxserver/lazylibrarian
