---

# Purpose: Install and configure PostgreSQL on pgdb hosts

- name: Install and configure postgresql
  hosts: pgdb
  become: true
  gather_facts: true
  roles:
    - global
    - autofs
    - postgresql_setup
