#cloud-config
autoinstall:
  version: 1
  locale: en_US
  timezone: America/New_York
  keyboard:
    layout: us
    variant: ""
    toggle: null
  identity:
    hostname: {{ inventory_hostname }}
    realname: Template user
    username: {{ global_vm_template_user }}
    password: {{ global_vm_template_user_crypted_password }}
  storage:
    layout:
      name: lvm
      sizing-policy: all
  source:
    id: ubuntu-server-minimal
  network:
    network:
      version: 2
      ethernets:
        ens18:
          addresses: [{{ ip_address }}/24]
          gateway4: {{ ad_gateway }}
          nameservers:
            search: [{{ ad_domain_name }}]
            addresses: 
              {% for dns_server in ad_dns_servers -%}
              - {{ dns_server }}
              {% endfor -%}
  #
  ssh:
    install-server: yes
    allow-pw: true
    authorized-keys: 
      - {{ ssh_key.public_key }}
  packages: 
  {% for package in vms_packages_list | union(vms_additional_packages) -%}
  - {{ package }}
  {% endfor -%} 
  late-commands:
    - echo '%ansible ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/99_ansible

