#cloud-config
# see example, https://cloudinit.readthedocs.io/en/latest/reference/examples.html
preserve_hostname: false
create_hostname_file: false
hostname: {{ inventory_hostname }}
prefer_fqdn_over_hostname: false
manage_etc_hosts: true
fqdn: {{ inventory_hostname }}.{{ global_domain_name }}
users:
  - name: {{ global_vm_template_user }}
    gecos: Ansible user
    groups: users,admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    passwd: {{ global_vm_template_user_crypted_password }}
    lock_passwd: false
    ssh_authorized_keys:
      - {{ vms_sshkey.public_key }}

# Enable password authentication over SSH
ssh_pwauth: true

# Update and upgrade packages on first boot
package_update: true
package_upgrade: true

timezone: {{ vms_global_timezone | default(global_timezone) }}

# Disable root login
disable_root: true

# Install additional packages
packages:
{% for package in global_packages_list | union(vms_additional_packages) -%}
  - {{ package }}
{% endfor -%} 

# Ensure ansible group can sudo without password
write_files:
  - path: /etc/sudoers.d/99_ansible
    content: |
      %ansible ALL=(ALL) NOPASSWD:ALL
    permissions: '0440'
