#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: us
    variant: ""
    toggle: null
  identity:
    hostname: ubu24-template
    realname: 'Template user'
    username: '{{ global_template_user }}'
    password: '{{ global_template_crypted_password }}'
  storage:
    layout:
      name: lvm
      sizing-policy: all
  source:
    id: ubuntu-server-minimal
  network:
    version: 2
    ethernets:
      ens18:
        dhcp4: true
  ssh:
    install-server: yes
    allow-pw: true
    authorized-keys: 
      - "{{ ssh_key.public_key }}"
  packages:
    - vim
    - net-tools
    - realmd
    - sssd
    - sssd-tools
    - libnss-sss
    - libpam-sss
    - adcli
    - samba-common-bin
    - oddjob
    - oddjob-mkhomedir
    - packagekit
    - qemu-guest-agent
