variable "vm_config" {
  type = object({
    agent   = string
    cores   = string
    cpu     = string
    memory  = number
    ostype  = string
    scsihw  = string
    sockets = number
    storage = string
    disk_os = object({
      disk    = string
      backup  = bool
      size    = number
      storage = string
    })
    nic0 = object({
      model  = string
      bridge = string
    })
    boot_order = string
  })
}

variable "extra_disks" {
  type = list(object({
    id      = number
    disk    = string
    backup  = bool
    storage = string
    size    = string
  }))
  default = []
}

variable "autoinstall" {
  type    = bool
  default = false
}

variable "enable_serial_terminal" {
  type    = bool
  default = false
}

variable "pve_api_url" {}
variable "pve_user" {}
variable "pve_password" {}
variable "pve_tls_insecure" {
  type    = bool
  default = false
}

variable "pve_node" {
  type = string
}

variable "vm_name" {
  type = string
}

variable "template_name" {
  type = string
}

variable "template_node" {
  type = string
}
