---
# Set up Semaphore UI using its API
# https://docs.semaphoreui.com/administration-guide/api/

# The inventory list is the same for all ansible projects. The
# list is dynamically built by enumerating the list from
# the Ansible controller file system using the find_inventory_files
# filter plugin. The resulting list, semaphoreui_setup_inventories
# is injected into each project.
- name: Get inventory files
  ansible.builtin.set_fact:
    inventory_files: "{{ 'inventory/' | find_inventory_files }}"

- name: Build structured inventory list
  ansible.builtin.set_fact:
    semaphoreui_setup_inventories: "{{ semaphoreui_setup_inventories | default([]) + [ {
      'name': item | regex_replace('^.*/([^/]+)/inventory.ini$', '\\1'),
      'type': 'file',
      'credentials': 'Semaphore user credentials',
      'sudo_credentials': '',
      'inventory': item
      } ] }}"
  loop: "{{ inventory_files }}"
  when: item is match('^.*/[^/]+/inventory.ini$')

- name: Login as admin and create an API token for future requests
  ansible.builtin.include_tasks: setup/create_api_token.yml
  when: semaphoreui_setup_api_token is not defined

- name: Get list of existing users from Semaphore UI
  ansible.builtin.include_tasks: setup/enum_users.yml

- name: Initialize full Semaphore UI project structure
  ansible.builtin.set_fact:
    semaphoreui_setup_projects: []

- name: Build projects with static templates
  ansible.builtin.set_fact:
    semaphoreui_setup_projects: >-
      {{
        semaphoreui_setup_projects_meta
        | map('combine', {
            'repositories': semaphoreui_setup_projects_repositories[item.name] | default([]),
            'keystores': semaphoreui_setup_projects_keystores[item.name] | default([]),
            'views': semaphoreui_setup_projects_views[item.name] | default([]),
            'templates': semaphoreui_setup_projects_templates[item.name] | default([]),
            'schedules': semaphoreui_setup_projects_schedules[item.name] | default([])
          })
        | list
      }}
  loop: "{{ semaphoreui_setup_projects_meta }}"
  loop_control:
    loop_var: item

- name: Append dynamic template sets to projects (per project)
  ansible.builtin.set_fact:
    semaphoreui_setup_projects: >-
      {{
        semaphoreui_setup_projects
        | map(
            'combine',
            {
              'templates': (
                (item.templates | default([])) +
                (dynamic_template_sets.get(item.name, [])
                  | extract_templates_for_project(
                      semaphoreui_setup_inventories | map(attribute='name') | list,
                      item.name
                    )
                )
              )
            }
          )
        | list
      }}
  loop: "{{ semaphoreui_setup_projects }}"
  loop_control:
    loop_var: item

- name: Debug final project structure
  ansible.builtin.debug:
    var: semaphoreui_setup_projects

# Include setup tasks for projects
- name: Loop through all the projects in Semaphore UI and set them up
  ansible.builtin.include_tasks: setup/setup_projects.yml

# Expire the admin token if playbook fails before this point
- name: Expire the token
  ansible.builtin.uri:
    url: "{{ semaphoreui_setup_api_base }}/user/tokens/{{ semaphoreui_setup_api_token }}"
    method: DELETE
    headers:
      Content-Type: application/json
      Accept: application/json
      Authorization: "Bearer {{ semaphoreui_setup_api_token }}"
    status_code: 204
  when: semaphoreui_setup_api_token is defined
