---

# Sets up schedules in Semaphore UI
# This should not be called directly, only via setup_project.yml

- name: Parse existing schedule names
  ansible.builtin.set_fact:
    existing_schedule_names: "{{ retrieved_schedules | map(attribute='name') | list }}"

- name: Create schedules for project {{ current_project_name }}
  ansible.builtin.uri:
    url: "{{ semaphoreui_setup_api_base }}/project/{{ current_project_id }}/schedules"
    method: POST
    headers:
      Content-Type: application/json
      Accept: application/json
      Authorization: "Bearer {{ semaphoreui_setup_api_token }}"
    body_format: json
    body:
      name: "{{ schedule_to_add.name }}"
      cron_format: "{{ schedule_to_add.cron }}"
      active: "{{ schedule_to_add.enabled | default(true) }}"
      template_id: >-
        {{
          existing_templates
          | selectattr('name', 'equalto', schedule_to_add.template)
          | map(attribute='id')
          | first
        }}
    status_code: 201
  when: schedule_to_add.name not in existing_schedule_names
  loop: "{{ project_data_to_add.schedules }}"
  loop_control:
    label: "{{ schedule_to_add.name }}"
    loop_var: schedule_to_add
