---

# Sets up inventories in Semaphore UI
# Includes setup_inventory.yml to set up each individual inventory
# This should not be called directly, only via setup_project.yml

- name: Loop through inventories in project {{ current_project_name }}
  ansible.builtin.include_tasks: setup/setup_inventory.yml
  loop: "{{ semaphoreui_setup_inventories }}"
  loop_control:
    label: "{{ inventory_to_add.name }}"
    loop_var: inventory_to_add
  vars:
    project_id_payload: "{{ {'project_id': current_project_id | int} }}"
    project_keys: "{{ retrieved_keys }}"
    project_inventories: "{{ retrieved_inventories }}"
    project_inventory_to_add: "{{ inventory_to_add }}"
    inventory_api_url: "{{ semaphoreui_setup_api_base }}/project/{{ current_project_id }}/inventory"
