---
vms_config:
  agent: "1"
  cores: "2"
  cpu: host
  memory: 3096
  ostype: l26
  scsihw: virtio-scsi-single
  sockets: 1
  storage: local
  disk_os:
    disk: virtio0
    backup: true
    size: 25
    storage: local
