---

# Purpose: Configures Reverse Proxy for specified sites.
# rproxy_setup_sites variable should be defined in the inventory
# or host_vars.

- name: Configure Reverse Proxy
  hosts: rproxy
  become: true
  gather_facts: true
  roles:
    - role: global
    - role: nginx_setup
      nginx_setup_start: false

  tasks:
    - name: Import rproxy role
      ansible.builtin.import_role:
        name: rproxy_setup
        tasks_from: configure.yml
