apiVersion: 1

datasources:
  - name: "{{ grafana_setup_prometheus_datasource_name }}"
    uid: "{{ grafana_setup_prometheus_datasource_uid }}"
    type: prometheus
    access: proxy
    url: "{{ grafana_setup_prometheus_datasource_url }}"
    isDefault: true
    editable: false
