---

python3_version: 3.12

autofs_nfs_mounts:
  - mount_name: photos
    server: 192.168.2.250:/mnt/Data/photos
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: music
    server: 192.168.2.250:/mnt/Data/music
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: books
    server: 192.168.2.250:/mnt/Data/books
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: tvshows
    server: 192.168.2.250:/mnt/Data/tvshows
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: movies  
    server: 192.168.2.250:/mnt/Data/movies
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: downloads
    server: 192.168.2.250:/mnt/Data/downloads/complete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: incomplete-downloads
    server: 192.168.2.250:/mnt/Data/downloads/incomplete
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys
  - mount_name: backups
    server: 192.168.2.250:/mnt/Data/backups_ex
    mount_options: -rw,relatime,hard,rsize=1048576,wsize=1048576,proto=tcp,timeo=600,retrans=2,sec=sys

vms_os: ubuntu_24_server
pxeserver_setup_dhcp_range: "192.168.2.220,192.168.2.220,255.255.255.0"
pxeserver_setup_ip_reservations:
  - { mac_address: '7C:83:34:BE:2D:C5', ip_address: '192.168.2.220' }

rproxy_setup_sites:
  - server_name: wikipedia.refol.us
    port: 80
    proxy_pass: "http://{{ global_ip_addresses['plex-0'] }}"
    allow_list:
      - 192.168.0.0/24
      - 192.168.2.0/24
      - 24.105.250.200
      - 70.107.117.124
    restricted: false

nginx_setup_disable_default_site: true
