---

- name: Include get_pihole_sid.yml tasks
  ansible.builtin.include_tasks: get_pihole_sid.yml

- name: Format each cname entries and URL-encode them
  ansible.builtin.set_fact:
    pihole_cname_entries_encoded: "{{ pihole_cname_entries_encoded | default([]) + [(item.domain ~ ',' ~ item.target) | urlencode() ] }}"
  loop: "{{ pihole_cname_entries | default([]) }}"

- name: Delete cname record using Pi-hole config/dns/cnameRecords api
  no_log: true
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/config/dns/cnameRecords/{{ item }}"
    method: DELETE
    headers:
      sid: "{{ pihole_sid }}"
    return_content: true
    status_code: [204, 404]
  register: pihole_result_cname_op
  delegate_to: localhost
  loop: "{{ pihole_cname_entries_encoded | default([]) }}"
  loop_control:
    pause: 5 # In order not to overwhelm the API
  changed_when: false

- name: Add pause to wait for DNS to restart
  ansible.builtin.pause:
    seconds: 20

- name: Record whether any CNAMEs were deleted
  ansible.builtin.set_fact:
    pihole_cname_changed: "{{ (pihole_result_cname_op.results | selectattr('status','equalto',204) | list | length) > 0 }}"
  when: pihole_result_cname_op is defined
  changed_when: false


- name: Collect API error messages for failed deletes
  ansible.builtin.set_fact:
    pihole_error_msg: "{{ pihole_error_msg | default([]) + [{ (r.item.split('%2C')[0]) : ((r.json.error.message if (r.json is defined and r.json.error is defined) else r.msg)) }] }}"
  loop: "{{ pihole_result_cname_op.results | default([]) }}"
  loop_control:
    loop_var: r
    label: "{{ r.item.split('%2C')[0] }}"
  when: r.status != 204

- name: Include delete_session_id.yml tasks
  ansible.builtin.include_tasks: delete_session_id.yml

- name: Show cname operation failure
  ansible.builtin.debug:
    var: pihole_error_msg
  when: pihole_error_msg is defined
