---

- name: Delete Session ID
  no_log: false
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/auth"
    method: DELETE
    headers:
      sid: "{{ pihole_sid }}"
    return_content: false
    status_code: [-1, 204]
  register: pihole_session_delete
  delegate_to: localhost
  changed_when: pihole_session_delete.failed | bool
  when: pihole_sid is defined
