---

- name: Include get_pihole_sid.yml tasks
  ansible.builtin.include_tasks: get_pihole_sid.yml

- name: Set dns host entry
  ansible.builtin.set_fact:
    pihole_host_entry: "{{ global_ip_address }} {{ inventory_hostname }}.{{ global_domain_name }}"

- name: Encode Cname entry
  ansible.builtin.set_fact:
    pihole_host_entry_url_encoded: "{{ pihole_host_entry | urlencode() }}"

- name: Delete DNS host entry using config/dns/hosts api
  no_log: true
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/config/dns/hosts/{{ pihole_host_entry_url_encoded }}"
    method: DELETE
    headers:
      sid: "{{ pihole_sid }}"
    return_content: true
    status_code: [204, 404]
  register: pihole_result_hosts_op
  delegate_to: localhost
  changed_when: pihole_result_hosts_op.status ==  204

- name: Store error message if operation is not successful
  ansible.builtin.set_fact:
    pihole_error_msg: "{{ (pihole_result_hosts_op.json.error.message if (pihole_result_hosts_op.json is defined and pihole_result_hosts_op.json.error is defined) else pihole_result_hosts_op.msg) }}"
  when: pihole_result_hosts_op.status != 204

- name: Include delete_session_id.yml tasks
  ansible.builtin.include_tasks: delete_session_id.yml

- name: Show delete host dns entry operation failure
  ansible.builtin.debug:
    msg: "{{ pihole_error_msg }}"
  when: pihole_error_msg is defined
