---

- name: Include get_pihole_sid.yml tasks
  ansible.builtin.include_tasks: get_pihole_sid.yml

- name: Get hosts using config/dns/hosts api
  no_log: false
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/config/dns/hosts"
    method: GET
    headers:
      sid: "{{ pihole_sid }}"
    return_content: true
  register: pihole_get_hosts
  delegate_to: localhost
  changed_when: pihole_get_hosts.status ==  200

- name: Include delete_session_id.yml tasks
  ansible.builtin.include_tasks: delete_session_id.yml

- name: Show hosts
  ansible.builtin.debug:
    var: pihole_get_hosts.json.config.dns.hosts
