---

- name: Include get_pihole_sid.yml tasks
  ansible.builtin.include_tasks: get_pihole_sid.yml

- name: Get configuration using config api
  no_log: true
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/config"
    method: GET
    headers:
      sid: "{{ pihole_sid }}"
    return_content: true
  register: pihole_get_config
  delegate_to: localhost
  changed_when: pihole_get_config.status ==  200

- name: Include delete_session_id.yml tasks
  ansible.builtin.include_tasks: delete_session_id.yml

- name: Show Pi-hole configuration
  ansible.builtin.debug:
    var: pihole_get_config
