---

- name: Get Pi-hole Session ID
  no_log: false
  ansible.builtin.uri:
    url: "http://{{ pihole_api_host }}/api/auth"
    method: POST
    body_format: json
    body: >
      {
        "password":"{{ pihole_password }}"
      }
    return_content: true
  register: pihole_session_id
  delegate_to: localhost
  changed_when: false

- name: Store Session ID
  ansible.builtin.set_fact:
    pihole_sid: "{{ pihole_session_id.json.session.sid }}"
  when: not pihole_session_id.failed | bool
